/* search bar css */
form.border-dark {
    border-bottom: 2px solid #000000;
}

.form-control:hover {
    box-shadow: none;
}

/* navbar hidden when scroll up */
#hunnar-nav {
    position: fixed;

    /* Make it stick/fixed */
    top: 0px;

    /* Stay on top */
    width: calc(100vw - 48px);

    /* Full width */
    transition: top 0.3s;

    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#hunnar-nav a {
    float: left;
    display: block;
}

.navbar {
    padding: 25px;
    margin: 0px;
}

@media (max-width: 991px){
    .navbar {
        padding-right: 0px;
    }
}

li.storyhead:not(:last-child) {
    margin-right: 2px;
}

@media (max-width: 991px) {
    h1.project-title {
        text-height: 28px;
    }

    ol li.storyhead {
        text-height: 12px;
    }
}

.storyhead a.scrollitem {
    width: calc(25vw - 24px);
    display: flex;

    /* allows align-items to work below */
    justify-content: center;

    /* Horizontally centers single-line elements */
    text-align: bottom;

    /* Horizontally centers text within line-wrapped elements */
    align-items: bottom;
}

div.storyhead {
    width: 75vw;
    margin-left: 12.5vw;
}

/* sliding sections */
html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.page {
    float: left;
    min-height: 100%;
}

.storyhead a.scrollitem {
    border-top: 2px solid #999999;
    color: #999999;
    text-decoration: none;
}

.storyhead a.selected,
.storyhead a:hover {
    border-top: 2px solid #000000;
    color: #000000;
}

/* factfile */
.tableinfo {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

tbody {
    vertical-align: text-bottom;
}

tr {
    height: 22px;
    border-bottom: 2px solid #000;
}

tda {
    width: 150px;
    height: 22px;
}

tdb {
    width: 100%;
    height: 22px;
}

.centred-col div {
    max-width: 700px;
    margin: 0 auto;
}

img.single-col,
.single-col img {
    max-width: 700px;
    padding-bottom: 24px;
}

.featured-image img {
    width: 700px;
    height: calc(100vh - 230px);
}

.gallery {
    padding-top: 24px;
}

/* read more text */
#more,
#plus1,
#plus2,
#plus3,
#plus4,
#plus5,
#plus6,
#plus7,
#plus8 {
    display: none;
}

button.btn {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #000;
    background: none;
    box-shadow: none;
    color: #000;
    padding: 0;
}

.plusbtn.btn {
    border-bottom: none!important;
    padding-bottom: 6px;
    padding-left: 6px;
    font-size: 30px;
    color: #999999;
}

.plusbtn.btn: hover,
.plusbtn.btn: active,
.plusbtn.btn: focus {
    color: #000;
    text-decoration: none!important;
    border: none!important;
}

.mnt-gallery {
    display: flex;
}

.mnt-gallery img {
    object-fit: cover;
    height: 350px;
    margin-right: -6px;
    padding-right: 6px!important;
    padding-bottom: 12px;
}



