/* search bar css */
form.border-dark {
    border-bottom: 2px solid #000000;
}

.form-control:hover {
    box-shadow: none;
}

/* navbar hidden when scroll up */
#hunnar-nav {
    position: fixed;

    /* Make it stick/fixed */
    top: 0;

    /* Stay on top */
    width: calc(100vw - 24px);

    /* Full width */
    transition: top 0.3s;

    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#hunnar-nav a {
    float: left;
    display: block;
}

.navbar {
    padding: 25px;
    margin: 0px;
}

li.storyhead:not(:last-child) {
    margin-right: 2px;
}

@media (max-width: 991px) {
    h1.project-title {
        text-height: 28px;
    }

    ol li.storyhead {
        text-height: 12px;
    }
}

.storyhead a.scrollitem {
    width: calc(25vw - 24px);
    display: flex;

    /* allows align-items to work below */
    justify-content: center;

    /* Horizontally centers single-line elements */
    text-align: bottom;

    /* Horizontally centers text within line-wrapped elements */
    align-items: bottom;
}

div.storyhead {
    width: 75vw;
    margin-left: 12.5vw;
}

/* sliding sections */
html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.page {
    float: left;
    min-height: 100%;
}

.page-inner {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px;
}

.storyhead a.scrollitem {
    border-top: 4px solid #999999;
    color: #999999;
    text-decoration: none;
}

.storyhead a.selected,
.storyhead a:hover {
    border-top: 4px solid #000000;
    color: #000000;
}

.main-container {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.single-col {
    width: 50%;
}

.align-self-end.desc-text.text-justify.single-col {
    padding-left: 24px;
}